<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<body>
<div th:fragment="association" style="justify-content: space-around;text-align: center">
    <form style="margin-top: 20px">
        <table>
                <ul style="list-style-type: none" th:each="association : ${associations}">
                        <li class="row">
                            <span class="col-md-4"></span>
                            <span class="col-md-2" th:text="${association.nom}"/>
                            <th:block th:if="not ${my_association}">
                                <button class="col-md-2 btn btn-outline-info" th:formaction="@{/join}" th:name="association_id" th:value="${association.id}" >rejoindre</button>
                            </th:block>
                        </li>
                </ul>
        </table>
    </form>
</div>
</body>
</html>