<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<body>
<div th:fragment="demande" style="justify-content: space-around;text-align: center">
  <div style="margin: 0 auto; justify-content: center">
    <div class="row" style="justify-content: center; margin-top: 20px; font-weight: bold ">
      <span class="col-md-2">Nom</span>
      <span class="col-md-2">Categorie</span>
      <span class="col-md-2">Association</span>
      <span class="col-md-3"></span>
    </div>
    <tr  th:each="post : ${demandes}" style="justify-content: space-around;text-align: center">
      <th:block th:if="${post.association}">
        <form th:action="@{/valider}" th:object="${postDto}">
          <div class="row" style="justify-content: center; margin-top: 20px">

            <span class="col-md-2" th:text="${post.nom}"/>
            <span  class="col-md-2"  th:text="${post.categorie}" />
            <span  class="col-md-2"  th:text="${post.association}" />
            <input type="hidden" th:value="${post.nom}" name="nom"/>
            <input type="hidden" th:value="${post.categorie}" name="categorie"/>
            <button  class="col-md-3 btn btn-outline-success"  type="submit">Valider</button>
          </div>

        </form>
      </th:block>

    </tr>
  </div>
</div>
</body>
</html>