<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<body>
<div th:fragment="tutorial" style="justify-content: space-around;text-align: center; margin: 2em;">
    <div class="container" style="width: auto; height: 50vh; background-color: darkgrey; border-radius: 2em; color:lightgrey">
        <h1>Comment ça marche ?</h1>
        <div class="card text-dark bg-light" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Je rejoins une association...</h5>
                <p class="card-text">... en cliquant sur le bouton Rejoindre un association.</p>
            </div>
        </div>
        <div class="card text-dark bg-light" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Je cherche le matériel dont j'ai besoin...</h5>
                <p class="card-text">... grâce à la liste des offres, disponibles en Cliquant sur bouton Lister les offres.</p>
            </div>
        </div>
        <div class="card text-dark bg-light" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Je fais une demande...</h5>
                <p class="card-text">... et j'attends que la personne contact de mon association l'accepte.</p>
            </div>
        </div>
    </div>

</div>
</body>
</html>