<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Bienvenue</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body class="container-fluid" style="margin-top: 5%">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        Bonjour <span th:text="${username}" />
                        <th:block th:if="${contact}">
                            <span class="badge badge-pill badge-success" th:text="${my_association}" />
                        </th:block>
                        <th:block th:if="${my_association} and not ${contact}">
                            <span class="badge badge-pill badge-info" th:text="${my_association}" />
                        </th:block>
                        <th:block th:unless="${my_association}">
                            <span class="badge badge-pill badge-danger" th:text="'Aucune association'" />
                        </th:block>
                    </h1>
                </div>
            </div>



                <form th:action="@{/fragment}">
                    <div style="justify-content: space-around;text-align: center">

                        <th:block th:if="${my_association}">
                            <button  class="btn btn-outline-dark" type="submit" th:name="fragment" th:value="post">Lister les offres</button>
                        </th:block>

                        <button class="btn btn-outline-dark" type="submit" th:name="fragment" th:value="association">Lister les associations</button>

                        <th:block th:if="${contact}">
                            <button class="btn btn-outline-dark" type="submit">Voir les demandes</button>
                        </th:block>
                        <div/>
                </form>
                <th:block th:if="${fragment} == 'post'">
                    <div th:insert="posts :: post"></div>
                </th:block>

                <th:block th:if="${fragment} == 'association'">
                    <div th:insert="associations :: association"></div>
                </th:block>
            </th:block>



            <div style="margin-top: 10%">
                <form>
                    <button class="btn btn-outline-danger col-md-4" type="submit" value="Submit" th:formaction="@{/logout}">se déconnecter</button>
                </form>
            </div>

        </div>
    </body>
</html>