<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue</title>
</head>
<body>
<h1>
    <span th:text="${username}" /> account.
</h1>

<form th:action="@{/fragment}">
    <p>
        <button type="submit" th:name="fragment" th:value="post">See all posts</button>

        <button type="submit" th:name="fragment" th:value="association">See all associations</button>

        <button type="submit">See all demands</button>
    <p/>
</form>
<th:block th:if="${fragment} == 'post'">
    <div th:insert="posts :: post"></div>
</th:block>

<th:block th:if="${fragment} == 'association'">
    <div th:insert="associations :: association"></div>
</th:block>


<form>
    <button type="submit" value="Submit" th:formaction="@{/logout}">se déconnecter</button>
</form>

</body>
</html>